<main class="main-content">
  <div class="main-content__navbar">
    <img
      class="main-content__logo"
      src="./assets/images/logo.png"
      loading="lazy"
      alt="logo"
    />
    <div class="main-content__buttons">
      <a
        href="https://www.youtube.com/@mirellajaramilloyoga"
        target="_blank"
        class="btn btn-primary"
      >
        Visita mi canal de youtube
      </a>
      <a
        href="https://wa.link/44jht1"
        target="_blank"
        class="btn btn-secondary"
      >
        ¡Hablemos!
      </a>
    </div>
  </div>
  <h1 class="main-content__title">
    El yoga es una invitación a reconectar contigo mismo
  </h1>
  <figure class="main-content__img">
    <img src="./assets/images/main-web.png" loading="lazy" alt="main" />
  </figure>
  <a href="#form" class="btn btn-secondary main-content__btn-more">
    Descubrir más
  </a>
</main>
