<main class="main-content">
  <div class="main-content__navbar">
    <img class="main-content__logo" src="./assets/images/logo.png" alt="logo" />
    <div class="main-content__buttons">
      <button type="button" class="btn btn-primary">
        Visita mi canal de youtube
      </button>
      <button type="button" class="btn btn-secondary">¡Hablemos!</button>
    </div>
  </div>
  <h1 class="main-content__title">
    El yoga es una invitación a reconectar contigo mismo
  </h1>
  <figure class="main-content__img">
    <img src="./assets/images/main-web.png" alt="main" />
  </figure>
  <button type="button" class="btn btn-secondary main-content__btn-more">
    Descubrir más
  </button>
</main>
