<article class="about-me">
  <section class="about-me__texts">
    <span class="about-me__text-left">sobre mi</span>
    <div class="about-me__content-text">
      <span>Mirella Jaramillo</span>
      <p>
        Soy Mirella Jaramillo colombiana de nacimiento, y el movimiento ha sido
        una constante en mi vida. Hace seis años me formé como profesora de yoga
        integral en Argentina. Mi pasión por el yoga nació de un profundo anhelo
        de encontrar equilibrio entre el cuerpo, la mente y el espíritu, lo que
        me ha llevado a compartir esta práctica con quienes buscan bienestar
        integral.
      </p>
    </div>
  </section>
  <section class="about-me__imgs">
    <figure>
      <img src="./assets/images/about-me/about-me-1.png" alt="about me" />
    </figure>
    <figure>
      <img src="./assets/images/about-me/about-me-2.png" alt="about me" />
    </figure>
    <figure>
      <img src="./assets/images/about-me/about-me-3.png" alt="about me" />
    </figure>
  </section>
</article>
