<article class="products">
  <h4 class="products__title">Conoce nuestros productos estrella</h4>
  <p>
    La meditación es el arte de silenciar la mente para escuchar al corazón.
  </p>
  <div class="products__list">
    <figure>
      <img src="./assets/images/products/product-1.png" alt="product1" />
      <figcaption class="d-flex justify-content-between">
        <span>Zafu Cuarzo Blanco</span>
        <span>$170.000</span>
      </figcaption>
    </figure>
    <figure>
      <img src="./assets/images/products/product-2.png" alt="product2" />
      <figcaption class="d-flex justify-content-between">
        <span>Zafu Astucia</span>
        <span>$170.000</span>
      </figcaption>
    </figure>
    <figure>
      <img src="./assets/images/products/product-3.png" alt="product3" />
      <figcaption class="d-flex justify-content-between">
        <span>Zafu Libertad</span>
        <span>$170.000</span>
      </figcaption>
    </figure>
    <figure>
      <img src="./assets/images/products/product-4.png" alt="product4" />
      <figcaption class="d-flex justify-content-between">
        <span>Zafu Cornalina</span>
        <span>$170.000</span>
      </figcaption>
    </figure>
  </div>
  <div class="text-center">
    <button type="button" class="btn btn-primary">COMPRAR AHORA</button>
  </div>
</article>
<img src="./assets/images/products/product-ad.png" alt="product-ad" />
