@use "./../../../styles/mixins" as *;

.my-history {
  // max-height: 41.8rem;
  @include screen(med-small) {
    display: flex;
  }
  &__img {
    flex: 1;
    > img {
      height: 100%;
      object-fit: cover;
    }
  }
  &__texts {
    position: relative;
    flex: 1;
    display: flex;
    background-color: var(--cl-yellow);
    color: #864d39;
  }
  &__content-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
    @include screen(med-small) {
      padding: 1rem 0 1rem 5rem;
    }
    > span {
      font-family: porsha;
      font-size: 1.2rem;
      @include screen(small) {
        font-size: 2.2rem;
      }
    }
    > p span {
      font-style: italic;
      font-weight: 600;
    }
  }
  &__text-rigth {
    display: none;
    // font-family: porsha;
    // font-size: 9rem;
    // opacity: 0.5;
    // writing-mode: vertical-lr;
    // margin-right: -3.7rem;
    // margin-top: 4rem;
    // @include screen(custom, max, 992) {
    //   display: none;
    // }
  }
}
