<article id="history" class="my-history">
  <figure class="my-history__img">
    <img src="./assets/images/history.png" loading="lazy" alt="history" />
  </figure>
  <div class="my-history__texts">
    <div class="my-history__content-text">
      <span>Mi historia</span>
      <p>
        Fue al <span>convertirme en mamá</span> cuando mi vida cambió
        significativamente, y en ese momento decidí especializarme en
        <span>yoga prenatal, postnatal y yoga con bebés</span>, con el objetivo
        de acompañar a otras madres en su propio viaje de transformación. Sentir
        dos corazones latiendo en un solo cuerpo es maravillosa y
        <span>todas podemos disfrutar de esta etapa en movimiento</span>
      </p>
      <p>
        Soy diseñadora de modas de profesión y apasionada por la buena salud y
        la alimentación saludable.
        <span>
          Siento que a través de la práctica de yoga y brindarme una buena
          nutrición, mi cuerpo y mi espiritualidad se nutren mientras mi mente
          se equilibra
        </span>
        . Por eso mi sueño de compartir mi experiencia a través de clases que se
        enfocan en la armonía entre cuerpo mente y espíritu permitiendo que
        sintonices con tu ser.
      </p>
    </div>
  </div>
</article>
