<article class="modal-form">
  <button
    type="button"
    data-dismiss="modal"
    aria-label="Close"
    class="btn-close modal-form__close"
    (click)="closeModal()"
  ></button>
  <h6 class="modal-form__title">INSCRÍBETE A UNA CLASE COMPLETAMENTE GRATIS</h6>
  <p>
    No importa si nunca has practicado yoga antes o si ya tienes experiencia.
    Esta clase está diseñada para que cualquier persona, sin importar su
    condición física, pueda beneficiarse. Solo necesitas muchas ganas de
    relajarte y disfrutar.
  </p>
  <form class="modal-form__content">
    <input type="text" placeholder="NOMBRE" />
    <input type="number" placeholder="NÚMERO DE CONTÁCTO" />
    <input type="email" placeholder="CORREO ELECTRÓNICO" />
    <textarea
      placeholder="¿ALGO QUE QUIERAS CONTARME?"
      cols="20"
      rows="3"
    ></textarea>
    <button type="submit" class="btn btn-primary">Enviar</button>
    <button type="button" class="btn btn-secondary" (click)="closeModal()">
      Luego
    </button>
  </form>
</article>
