<footer class="footer">
  <div class="footer__links">
    <div>
      <span>SOBRE MIRELLA JARAMILLO</span>
      <a href="#about-me">Sobre mi</a>
      <a href="#history">Mi historia</a>
      <a href="#courses">Nuestros cursos</a>
      <a [href]="API_WHATSAPP" target="_blank">Contacto</a>
    </div>
    <div>
      <span>PRODUCTOS</span>
      <a href="#products">Zafu</a>
      <a href="#garments">Ropa</a>
      <a href="#best-sellers">Favoritos</a>
    </div>
    <div>
      <span>PRÁCTICA</span>
      <a href="">Yoga</a>
      <a href="">Cursos</a>
    </div>
    <div>
      <span>HABLEMOS</span>
      <a href="mailto:mirellajaramillo93@gmail.com"
        >mirellajaramillo93{{ "@" }}gmail.com</a
      >
      <a [href]="API_WHATSAPP" target="_blank">+ 57 3203779374</a>
      <div class="d-flex gap-2 footer__icons">
        <a href="">
          <img
            ngSrc="./assets/icons/logo-instagram.png"
            width="25"
            height="25"
            alt="instagram"
          />
        </a>
        <a href="https://www.youtube.com/@mirellajaramilloyoga" target="_blank">
          <img
            ngSrc="./assets/icons/logo-youtube.png"
            width="25"
            height="25"
            loading="lazy"
            alt="youtube"
          />
        </a>
        <a [href]="API_WHATSAPP" target="_blank">
          <img
            ngSrc="./assets/icons/logo-whatsapp.png"
            width="25"
            height="25"
            loading="lazy"
            alt="whatsapp"
          />
        </a>
      </div>
    </div>
  </div>
  <figure>
    <img src="./assets/images/logo-foot.png" loading="lazy" alt="logo" />
  </figure>
  <div class="text-center footer__copyright">
    <span>© Mirella Jaramillo 2024</span>
  </div>
</footer>
