<article class="course-des">
  <h3 class="course-des__title">Disfruta de nuestros cursos</h3>
  <div class="course-des__content">
    <span class="course-des__text-left">CONOCE TUS SIGUIENTES PASOS</span>
    <div class="course-des__texts">
      <p>
        Encuentra tu propio ritmo y fluye en una clase que realmente conecte
        contigo.
      </p>
      <p>
        Mis clases son online puedes acceder en ellas en cualquier momento y
        están diseñadas para trabajar y cultivar la autoconfianza, la
        autoestima, la creatividad y el amor propio. Desde sesiones dinámicas y
        de fortalecimiento, hasta prácticas enfocadas en el equilibrio emocional
        y el cuidado para madres, mis clases ofrecen un espacio de conexión y
        crecimiento personal.
      </p>
      <p>
        También para las embarazadas ofrezco clases que combinan fuerza y
        suavidad enfocadas en el auto cuidado al igual que si estas en la época
        postparto, te puedo ayudar a recobrar fuerza y equilibrio mientras
        respiras hacia la paz interior
      </p>
      <p>
        <strong>
          Si estás interesad{{ "@" }} en tomar parte en esta experiencia de
          bienestar y conexión, Te invito a inscribirte en mis programas de
          clases online, las que podrás practicar en cualquier momento y a tu
          ritmo.
        </strong>
      </p>
      <p>
        Regálate este momento de bienestar y calma.
        <a class="course-des__join" href="">Únete</a>
      </p>
    </div>
    <figure class="course-des__img">
      <img
        src="./assets/images/course-des.png"
        loading="lazy"
        alt="course-des"
      />
    </figure>
  </div>
</article>
