<article class="best-sellers">
  <h5 class="best-sellers__title">
    Disfruta de nuestros productos más vendidos
  </h5>
  <div class="best-sellers__list">
    <figure>
      <img src="./assets/images/best-sellers/rojo.png" alt="rojo" />
      <figcaption class="d-flex justify-content-between">
        <span>Zafu Jaspe Rojo</span>
        <span>$170.000</span>
      </figcaption>
      <div class="best-sellers__obtain">
        <button type="button" class="btn btn-secondary">¡LO QUIERO!</button>
      </div>
    </figure>
    <figure>
      <img src="./assets/images/best-sellers/blanco.png" alt="blanco" />
      <figcaption class="d-flex justify-content-between">
        <span>Zafu Cuarzo Blanco</span>
        <span>$170.000</span>
      </figcaption>
      <div class="best-sellers__obtain">
        <button type="button" class="btn btn-secondary">¡LO QUIERO!</button>
      </div>
    </figure>
    <figure>
      <img src="./assets/images/best-sellers/libertad.png" alt="libertad" />
      <figcaption class="d-flex justify-content-between">
        <span>Zafu Libertad</span>
        <span>$170.000</span>
      </figcaption>
      <div class="best-sellers__obtain">
        <button type="button" class="btn btn-secondary">¡LO QUIERO!</button>
      </div>
    </figure>
    <figure>
      <img src="./assets/images/best-sellers/balance.png" alt="balance" />
      <figcaption class="d-flex justify-content-between">
        <span>Zafu balance</span>
        <span>$170.000</span>
      </figcaption>
      <div class="best-sellers__obtain">
        <button type="button" class="btn btn-secondary">¡LO QUIERO!</button>
      </div>
    </figure>
    <figure>
      <img src="./assets/images/best-sellers/cornalina.png" alt="cornalina" />
      <figcaption class="d-flex justify-content-between">
        <span>Zafu Cornalina</span>
        <span>$170.000</span>
      </figcaption>
      <div class="best-sellers__obtain">
        <button type="button" class="btn btn-secondary">¡LO QUIERO!</button>
      </div>
    </figure>
    <figure>
      <img src="./assets/images/best-sellers/citrino.png" alt="citrino" />
      <figcaption class="d-flex justify-content-between">
        <span>Zafu citrino</span>
        <span>$170.000</span>
      </figcaption>
      <div class="best-sellers__obtain">
        <button type="button" class="btn btn-secondary">¡LO QUIERO!</button>
      </div>
    </figure>
    <figure>
      <img src="./assets/images/best-sellers/jade.png" alt="jade" />
      <figcaption class="d-flex justify-content-between">
        <span>Zafu Jade</span>
        <span>$170.000</span>
      </figcaption>
      <div class="best-sellers__obtain">
        <button type="button" class="btn btn-secondary">¡LO QUIERO!</button>
      </div>
    </figure>
    <figure>
      <img src="./assets/images/best-sellers/genuino.png" alt="genuino" />
      <figcaption class="d-flex justify-content-between">
        <span>Zafu Genuino</span>
        <span>$170.000</span>
      </figcaption>
      <div class="best-sellers__obtain">
        <button type="button" class="btn btn-secondary">¡LO QUIERO!</button>
      </div>
    </figure>
  </div>
</article>
<div class="text-center p-3">
  <button type="button" class="btn btn-primary">COMPRAR AHORA</button>
</div>
