<article class="product-des">
  <span class="product-des__text-left">MATERIALES</span>
  <div class="product-des__content-text">
    <div class="product-des__text">
      <p class="text-center">Maneras de usar el Zafu</p>
      <div class="product-des__image">
        <figure>
          <a
            href="https://www.instagram.com/reel/CR34lZ-ievU/?igsh=MWxhdnZkOXF2amVubA%3D%3D"
            target="_blank"
          >
            <img src="./assets/images/zafu.png" loading="lazy" alt="zafu" />
          </a>
          <figcaption class="pt-1 d-flex justify-content-between">
            <span>Yoga</span>
            <span>COMPRAR</span>
          </figcaption>
        </figure>
      </div>
      <p class="text-center">
        El zafu te brinda comodidad y te permite alinear tu postura, ofreciendo
        soporte a tu columna y facilitando una respiración fluida. Transforma tu
        meditación en un ritual de paz, convirtiendo cada sesión en un acto de
        amor hacia ti mismo. Además de proporcionar estabilidad y armonía, el
        zafu reduce la tensión en caderas y rodillas, mejorando tu concentración
        y ayudando a mantener la calma durante más tiempo. Al usarlo, creas un
        espacio ideal para la quietud y la conexión profunda, permitiendo que la
        energía fluya con libertad y equilibrio.
      </p>
    </div>
  </div>
  <div class="product-des__info">
    <div class="pt-4 d-flex justify-content-between">
      <span>ZAFU</span>
      <span>TABLA DESCRIPTIVA</span>
    </div>
    <figure class="product-des__img-info">
      <img src="./assets/images/zafu-info.png" loading="lazy" alt="zafu-info" />
      <figcaption class="pt-1 d-flex justify-content-between">
        <a
          href="https://www.instagram.com/reel/CpV6ttYD6u5/?igsh=MzRwdjl1ZnhrYjJw"
          target="_blank"
          class="text-small"
        >
          Video creación del Zafu
        </a>
        <div class="d-flex flex-column align-items-end">
          <span class="text-small">Diámetro 33 centímetros.</span>
          <span class="text-small">loading="lazy" altura 20 centímetros.</span>
          <span class="text-small"
            >Bolsa ecológica para llevarlo donde quieras.</span
          >
        </div>
      </figcaption>
    </figure>
    <div class="pt-1 d-flex justify-content-between gap-2">
      <span class="text-small">MATERIALES</span>
      <span class="text-small"
        >Tela antifluido, Forro interno, Relleno orgánico</span
      >
    </div>
    <div class="pt-1 d-flex justify-content-between">
      <span class="text-small">PRODUCIDO EN</span>
      <span class="text-small">Colombia</span>
    </div>
    <div class="pt-1 d-flex justify-content-between">
      <span class="text-small">CATEGORÍAS:</span>
      <span class="text-small">Yoga & Meditación</span>
    </div>
  </div>
</article>
