<article id="courses" class="courses">
  <div class="courses__content">
    <a href="https://youtu.be/VPDJo2DLITk?si=DMg04-KsQxpLSN9F" target="_blank">
      <img
        src="./assets/images/courses/integral.png"
        loading="lazy"
        alt="integral"
      />
    </a>
    <div>
      <p>Yoga integral</p>
      <p>
        La práctica integra la respiración con cada movimiento, creando una
        conexión profunda entre cuerpo, mente y espíritu. Las pausas profundas
        nos invitan a estar presentes, enfrentando nuestros límites de manera
        amorosa mientras revitalizamos el organismo.
      </p>
    </div>
    <a
      href="https://wa.link/9fldf1"
      target="_blank"
      class="btn btn-primary btn-radius"
    >
      Inscribirme
    </a>
  </div>
  <div class="courses__content">
    <a href="https://youtu.be/cS1jrnw-kA0?si=6SO8HYWc972MAeuS" target="_blank">
      <img src="./assets/images/courses/flow.png" loading="lazy" alt="flow" />
    </a>
    <div>
      <p>Yoga Flow</p>
      <p>
        Nos invita a movernos con suavidad y sin esfuerzo, conectando cada
        respiración con el movimiento. Es un recordatorio de que, al igual que
        en la vida, podemos aprender a soltar y fluir. Esta práctica es como una
        danza, donde las secuencias fluidas mejoran la flexibilidad y la fuerza.
      </p>
    </div>
    <a
      href="https://wa.link/zornlc"
      target="_blank"
      class="btn btn-primary btn-radius"
    >
      Inscribirme
    </a>
  </div>
  <div class="courses__content">
    <a href="https://youtu.be/d0_3011KrP0?si=nCFLbwTD-aJcDSqf" target="_blank">
      <img
        src="./assets/images/courses/prenatal.png"
        loading="lazy"
        alt="prenatal"
      />
    </a>
    <div>
      <p>Yoga prenatal</p>
      <p>
        Te guiaré a través de movimientos suaves que respetan tu cuerpo en cada
        etapa del embarazo, creando un espacio seguro para que te conectes
        contigo y tu bebé. Es una etapa hermosa que podemos transitar en
        movimiento.
      </p>
    </div>
    <a
      href="https://wa.link/hymwi0"
      target="_blank"
      class="btn btn-primary btn-radius"
    >
      Inscribirme
    </a>
  </div>
</article>
