<article id="garments" class="garments">
  <div>
    <div class="garments__info">
      <h6 class="garments__title">
        Prendas que abrazan tu ser en cada movimiento
      </h6>
      <p>
        Profundizo en la libertad de movimiento que me brinda la práctica de
        yoga y me gusta que las prendas que diseño se adapten a esa sensación de
        libertad y flexibilidad. Además son prendas versátiles que puedes usar
        en tu cotidianidad para que cada instante sea un reflejo de armonia y
        bienestar, tanto en la practica como en la vida cotidiana.
      </p>
      <span>¡Escríbenos para obtener tus productos favoritos!</span>
    </div>
  </div>
  <div class="d-flex">
    <span class="garments__text-left">Videos</span>
    <div class="garments__images">
      <figure>
        <img src="./assets/images/garments/body.png" alt="body" />
      </figure>
      <figure>
        <img src="./assets/images/garments/hand.png" alt="hand" />
      </figure>
      <figure>
        <img src="./assets/images/garments/feet.png" alt="feet" />
      </figure>
    </div>
  </div>
</article>
<div id="form" class="text-center p-3">
  <button type="button" class="btn btn-primary btn-radius">
    IR AL CATÁLOGO
  </button>
</div>
