<article class="circle-images">
  <div class="circle-images__img-primary">
    <figure>
      <img src="./assets/images/circle-images/circle-6.png" alt="circle" />
    </figure>
    <figure>
      <img src="./assets/images/circle-images/circle-1.png" alt="circle" />
    </figure>
    <figure>
      <img src="./assets/images/circle-images/circle-2.png" alt="circle" />
    </figure>
  </div>
  <div class="circle-images__text-info">
    <h2>
      Cuando te amas y te apruebas sin condiciones, lo maravilloso llega a tu
      vida
    </h2>
    <p>
      El yoga es una invitación a reconectar contigo mismo, a amarte sin
      condiciones y a encontrar paz en cada respiro y movimiento. Permítete
      sentir, soltar y fluir desde el amor
    </p>
    <a href="#courses" class="btn btn-primary"> Descubre nuestros cursos </a>
  </div>
  <div class="circle-images__img-secondary">
    <figure>
      <img src="./assets/images/circle-images/circle-5.png" alt="circle" />
    </figure>
    <figure>
      <img src="./assets/images/circle-images/circle-4.png" alt="circle" />
    </figure>
    <figure>
      <img src="./assets/images/circle-images/circle-3.png" alt="circle" />
    </figure>
  </div>
</article>
