<article class="tutorial">
  <h2 class="tutorial__title">
    Conecta con Tu Ser: Conoce Mis Cursos de Yoga integral
  </h2>
  <figure class="tutorial__video">
    <iframe
      src="https://drive.google.com/file/d/19U-Bf-92-8jruLYRgXHS0eVfnq6xGx83/preview"
      width="640"
      height="480"
      allow="autoplay"
    ></iframe>
    <!-- <video controls>
      <source
        src=""
        type="video/mp4"
      />
    </video> -->
  </figure>
  <div class="text-center">
    <a href="#courses" class="btn btn-primary btn-radius">
      Inscríbete a los cursos
    </a>
  </div>
</article>
